<div class="col-xs-12 clear-padding">
	<div class="pull-left">
		<img class="pull-left" width="100" height="100" />
	</div>
	<div class="pull-left">
		<audio controls 
			autobuffer 
			height='5px' 
			class='audio-controls pull-left' 
			id='audio_id'>
	    	<source src="" type="audio/mpeg" /> Your browser does not support the audio element.
		</audio>
		<div class="col-xs-12 ang-show-hide" ng-show="loadstart">
			<span>Loading ..</span>
		</div>
		<div class="col-xs-12 ang-show-hide" ng-show="error">
			<span>{{error_messsage}}</span>
		</div>
	</div>
</div>