	<div class="col-xs-4 clear-padding card card-inverse album-card" ng-click="albumClick({album: album})">
		<img class="card-img album-card-img" src="{{album.thumb_url}}" >
		<div class="card-img-overlay album-card-block">
			<h3 class="card-title">
				<span ng-show="album.album != undefined && album.album.length > 0">
					{{album.album}}
				</span>
				<span ng-show="album.album == undefined || album.album.length <= 0">
					{{album.dirname}}
				</span>
			</h3>
			<p class="card-text" ng-show="album.artists != undefined && album.artists != 'null'">{{album.artists}}</p>
		</div>
	</div>

	<div class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<a class="pull-left" href="{{album.thumb_url}}" target="_blank">
						<img class="pull-left" src="{{album.thumb_url}}" height="100" width="100" />
					</a>
					<h4 class="pull-left modal-title padding-l-r-5px" id="myModalLabel">
					<span ng-show="album.album != undefined && album.album.length > 0">
					{{album.album}}
				</span>
				<span ng-show="album.album == undefined || album.album.length <= 0">
					{{album.dirname}}
				</span>
					</h4>
				</div>
				<div class="modal-body">
					<div class="container-fluid clear-padding">
						<div class="col-xs-12 clear-padding all-songs ang-show-hide">
							<div class="col-xs-12 clear-padding" ng-repeat="song in album.songs | orderBy: track_num">
								<song-view song="song" play-song="playSong(song, action)"> </song>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="closeSongsList()">Close</button>
					</div>
				</div>
			</div>
		</div>