<div ng-controller="PlayerRandomController as player" ng-init="player.init()">
    <label ng-if="!player.fullmode">
        <input ng-model="player.fullmode" type="checkbox" name="checkbox" value="fullmode"/>
        FULL MODE
    </label>

    <div ng-if="player.fullmode">
        <div class="" style="position: absolute; top: 60px; bottom: 0; left: 0;background:#373a3c !important;color: white !important">
            <div class="row">
                <div class="col-xs-6">
                    <img src="{{player.currentSong.thumb_url}}" width="100%" height="100%"/>
                </div>
                <div class="col-xs-6">
                    <label>
                        <input ng-model="player.fullmode" type="checkbox" name="checkbox" value="fullmode"/> FULL
                        MODE</label>
                    <button ng-click="player.playRandomSong()" type="button" class="btn btn-primary">Random</button>
                    <p ng-repeat="(key, val) in player.currentSong">{{key}}: {{val}}</p>
                </div>

            </div>

        </div>
    </div>
    <div ng-if="!player.fullmode">
        <div class="col-xs-12">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="{{player.currentSong.thumb_url}}" width="100%" height="100%"/>
                </div>
                <div class="modal-footer">
                    <button ng-click="player.playRandomSong()" type="button" class="btn btn-primary">Random</button>
                </div>
                <p ng-repeat="(key, val) in player.currentSong">{{key}}: {{val}}</p>
            </div>
        </div>
    </div>

</div>