<div class="col-xs-12 clear-padding" ng-init="init()">
	<span class="col-xs-12">
        {{playlist.name}}
    </span>

	<div class="col-xs-12 clear-padding" ng-repeat="song in playlist.songs | orderBy: track_num">
		<song-view song="song" play-song="playSong(song)" hide-playlist-add="true" show-thumbnail="true" > </song>
	</div>
</div>