<div class="row" ng-init="init()"> 

	<div class="col-xs-12">
		<div ng-repeat="playlist in playlists">
		<div class="col-xs-12 clear-padding">
			<player-playlist playlist-id="playlist.id" /></player-playlist>
			</div>
		</div>
	</div>

	<div class="col-xs-12 padding-t-5px">
		<input type="text" ng-model="name" class="col-xs-6" />
		<button class="btn btn-default col-xs-6" ng-click="createPlaylist()">
			Create Playlist
		</button>
	</div>
</div>