<div ng-controller="PlayerController as player" ng-init="player.init()">

    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item" ng-repeat="letter in player.start_letters">
            <a class="page-link" ng-click="player.letter_clicked(letter)" href="#">{{letter}}</a>
        </li>
      </ul>
    </nav>


	<album-view album="album"
                on-click="player.albumClicked(album)"
                play-song="player.playSong(song,action)"
                ng-repeat="album in player.albums | filter:mainCtl.search:strict"></album-view>
</div>