body {
			padding-top: 5rem;
		}
		.main-container {
			padding: 3rem 1.5rem;
			text-align: center;
		}

.ang-show-hide {
		transition: all linear 0.2s;
		transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
		transition: all cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.5s;
	}
	
	.ang-show-hide.ng-hide {
		opacity: 0;
	}
	
	.ng-enter {
		opacity: 0;
		transition: all .5s ease;
	}
	
	.ng-enter-active {
		opacity: 1;
	}
	
	.clear-padding {
		padding: 0px;
	}
	
	.album-card-img {
		width: 300px;
		height: 300px;
	}
	
	.album-card {
		width: 300px;
		height: 300px;
		overflow: hidden;
		cursor: pointer;
	}
	
	.album-card-block {
		background: rgba(0, 0, 0, 0.58);
	}
	
	.padding-l-r-5px {
		padding-left: 5px;
		padding-right: 5px;
	}
	
	.padding-t-5px{
		padding-top: 5px;
	}

	.padding-b-5px{
		padding-bottom: 5px;
	}

	.all-songs {
		border: 1px solid grey;
	}
	
	.each-song {
		border-bottom: 1px solid grey;
		overflow: hidden;
	}
	
	.song-main {}
	
	.song-title {}
	
	.song-icons {
		height: 100%;
		right: 0;
		top: 0;
		text-align: center;
	}
	
	.song-icon-btn {
		margin: 2px;
	}
	
	.addboxshadow {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}