<!DOCTYPE html>
<html lang="en" ng-app="MPlayer">

<head>
	<base href="/ui/" />
	<script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>
	<script src="{{MEDIA_URL}}site/cast/cast.js" type="text/javascript"></script>
	<script>
		var MEDIA_SOURCE_ROOT = 'http://'+window.location.host;
		window['__onGCastApiAvailable'] = function(isAvailable) {
			window.castPlayer = new CastPlayer([]);
			console.log('oncastapiavailable '+isAvailable);
			if (isAvailable) {
				window.castPlayer.initializeCastPlayer();
			}
		};
		
	</script>
	<link href="{{MEDIA_URL}}site/cast/cast.css" rel="stylesheet" type="text/css">
</head>

<body ng-controller="MainController as mainCtl" class="container-fluid" ng-init="mainCtl.init()">
	<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
		<a class="navbar-brand" href="{% url 'main_view' %}">Project name</a>
		<ul class="nav navbar-nav">
			<li class="nav-item">
				<a class="nav-link" ui-sref="Player" ui-sref-active="active">Player <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" ui-sref="Random" ui-sref-active="active">Random</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" ui-sref="Playlists" ui-sref-active="active"> Playlists  </a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'main_view' %}">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'logout' %}">Logout</a>
			</li>
		</ul>

		<div class="col-sm-3 col-md-3 pull-right">
            <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" ng-model="mainCtl.search.album">
            </div>
            </form>
		</div>
	</nav>
<div class="container-fluid">
<div class="row">
		<div class="player_main col-xs-12">
			<div class="col-xs-12">
				<audio-player />
			</div>
		</div>
	</div>
</div>

	<div class="container-fluid">
		<div class="main-container" ui-view="mainContainer" id="mainBodyContent">

		</div>

	</div>


</body>
		   
<div id="media_control">
	<div id="play"></div>
	<div id="pause"></div>
	<div id="progress_bg"></div>
	<div id="progress"></div>
	<div id="progress_indicator"></div>
	<div id="fullscreen_expand"></div>
	<div id="fullscreen_collapse"></div>
	
	<div id="audio_bg"></div>
	<div id="audio_bg_track"></div>
	<div id="audio_indicator"></div>
	<div id="audio_bg_level"></div>
	<div id="audio_on"></div>
	<div id="audio_off"></div>
	<div id="duration">00:00:00</div>
</div>

<div id="main_video">
	<div class="imageSub"> <!-- Put Your Image Width -->
	   <div class="blackbg" id="playerstatebg">IDLE</div>
	   <div class=label id="playerstate">IDLE</div>
	   <img src="images/bunny.jpg" id="video_image">
	   <div id="video_image_overlay"></div>
	   <video id="video_element">
	   </video>
</div>

<div id="media_info">
	<div id="media_title">
	</div>
	<div id="media_subtitle">
	</div>
	<div id="media_desc">
	</div>
</div>
<h4>CAST BTN</h4>
<div style="width: 50px; height: 50px">
		<button is="google-cast-button"></button>
</div>	


<div class="col-xs-12">
		<div id="carousel"></div>
</div>


<script src="{{MEDIA_URL}}jquery/jquery-1.12.js" type="text/javascript"></script>

	<script src="{{MEDIA_URL}}site/utils.js" type="text/javascript"></script>

	<script src="{{MEDIA_URL}}angular/main/angular.js"></script>
	<script src="{{MEDIA_URL}}angular/main/angular-animate.js"></script>
	<script src="{{MEDIA_URL}}angular/lib/angular-ui-router.js"></script>

	<script src="{{MEDIA_URL}}site/angular.main.js"></script>
	<script src="{{MEDIA_URL}}site/ang.services/http.interceptor.service.js"></script>
	<script src="{{MEDIA_URL}}site/ang.services/music_service.js"></script>
	<script src="{{MEDIA_URL}}site/ang.services/audio_player_service.js"></script>
	<script src="{{MEDIA_URL}}site/ang.services/playlist_service.js"></script>
	<script src="{{MEDIA_URL}}site/ang.services/random_service.js"></script>
	<!--directives -->
	<script src="{{MEDIA_URL}}site/ang.directives/album/directive.js"></script>
	<script src="{{MEDIA_URL}}site/ang.directives/song/directive.js"></script>
	<script src="{{MEDIA_URL}}site/ang.directives/audio_player/directive.js"></script>
	<script src="{{MEDIA_URL}}site/ang.directives/playlist/directive.js"></script>
	<script src="{{MEDIA_URL}}site/ang.directives/playlist_main/directive.js"></script>

	<script src="{{MEDIA_URL}}site/player/player_controller.js" type="text/javascript"></script>
	<script src="{{MEDIA_URL}}site/playlist/playlist_controller.js" type="text/javascript"></script>
	<script src="{{MEDIA_URL}}site/random/player_random.js" type="text/javascript"></script>

	<link href="{{MEDIA_URL}}tether/css/tether.css" rel="stylesheet" type="text/css">
	<script src="{{MEDIA_URL}}tether/js/tether.js" type="text/javascript"></script>
	<link href="{{MEDIA_URL}}bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
	<script src="{{MEDIA_URL}}bootstrap/js/bootstrap.js" type="text/javascript"></script>
	<link href="{{MEDIA_URL}}font_awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
	
	<link href="{{MEDIA_URL}}site/styles/site_styles.css" rel="stylesheet" type="text/css">


</html>