<div class="col-xs-12 clear-padding each-song padding-l-r-5px">
	<div class="col-xs-12 pull-left clear-padding">
	<div class="pull-left">
		<img width="50" height="50" src="{{song.thumb_url}}" ng-if="showThumbnail">
	</div>
		<div class="pull-left clear-padding song-title-main">
			<div class="col-xs-12 clear-padding song-title song-name">
			<span class="pull-left" ng-show="song.title == undefiend || song.title.length <= 0">
					{{song.name}}
				</span>
				<span class="pull-left" ng-show="song.title != undefiend && song.title.length > 0">
					{{song.title}}
				</span>
			</div>
			<div class="col-xs-12 clear-padding song-title song-artist-name">
				<span class="pull-left">{{song.artist}}</span>
			</div>
		</div>

		<div class="pull-right clear-padding song-icons">
			<button class="btn btn-default btn-sm song-icon-btn" ng-show="showPlay()" ng-click="playThisSongNow(song)">
				<span class="fa fa-play-circle-o"></span>
			</button>
			<button class="btn btn-default btn-sm song-icon-btn" ng-show="showPause()" ng-click="pauseThisSong(song)">
				<span class="fa fa-pause-circle-o"></span>
			</button>
			<button class="btn btn-default btn-sm song-icon-btn" ng-click="playThisSongNext(song)">
				<span class="fa fa-plus-circle"></span>
			</button>

			<button ng-show="showAddPlaylist" class="btn btn-default btn-sm song-icon-btn" ng-click="addToPlaylist(song)">
				<span class="fa fa-list-ul"></span>
			</button>

		</div>
	</div>
	<div class="col-xs-12 clear-padding addboxshadow" ng-show="playlists">
		<p>add to playlist </p>
		<button ng-click="cancelAdd()"> Cancel </button>
		<ul>
			<li ng-repeat="playlist in playlists">
				<a ng-click="addToThisPlaylist(playlist)"> {{playlist.name}} </a>
			</li>
		</ul>
	</div>
</div>